
.login, .dashboard {
    width: 50%;
    margin: 3rem auto;
    border: 1px solid black;
}

.login h1, .dashboard h1 {
    text-align: center;
}

.no-access__message {
    color: red;
}

.no-access__permissions {
    font-weight: bold;
}