.btn {
    display: block;
    padding: 5px;
    font-size: 1.1rem;
    border: none;
    background-color: #999;
    width: 80%;
    margin: 0.5rem auto;
    cursor: pointer;
}

.btn:hover {
    background-color: #bbb;
    color: #eee;
}

.login, .dashboard {
    width: 50%;
    margin: 3rem auto;
    border: 1px solid black;
}

.login h1, .dashboard h1 {
    text-align: center;
}

.no-access__message {
    color: red;
}

.no-access__permissions {
    font-weight: bold;
}
